body {
    font-family: "Quicksand", sans-serif;
    background-image: url('https://i.pinimg.com/originals/a3/4a/5f/a34a5f5dec28640113231b51db6f726b.png'); 
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(215, 223, 255, 0.9);
    overflow: hidden;
    display: flex;
    flex-direction: row; /* Manter inline */
    width: 100%;
    max-width: 900px;
    padding: 40px;
}

.input-area, .output-area {
    padding: 50px;
    flex: 1; /* Permitir que as áreas input e output se ajustem lado a lado */
}

.input-area h1 {
    font-size: 2em; 
    color: #656565;
    margin-bottom: 20px;
    text-align: center;
}

.text-info {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 10px 20px;
}

.nota, .char-counter {
    font-size: small;
    color: #656565;
}

textarea {
    width: 100%; 
    height: 400px;
    border: 2px solid #eeeeee;
    padding: 20px;
    font-size: 1em;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: none;
    font-family: "Quicksand", sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-around; 
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #88bbf6;
    color: #535353; 
    border: none; 
    border-radius: 5px;
    padding: 15px 20px; 
    cursor: pointer;
    font-size: 1em;
    flex: 1; 
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

button#descriptar-button {
    background-color: #89c196;
}

button#resetar-button {
    background-color: #e7a3cb;
}

button:hover {
    background-color: #7fabdd; 
    color: rgb(221, 221, 221);
}

button#descriptar-button:hover {
    background-color: #64b074;
    color: rgb(221, 221, 221);
}

button#resetar-button:hover {
    background-color: #d191cb;
    color: rgb(221, 221, 221);
}

.output-area {
    background-color: #fcfbff;
    padding: 20px;
    text-align: center;
    max-width: 100%;
    overflow-x: auto;
}

.padrao-message, .output-message {
    font-size: 1.2em;
    color: #777588;
    word-break: normal;
    white-space: normal;
    margin: 0; 
}

.output-message {
    margin-top: 30%;
    font-size: 1.5em;
    color: #656565;
    word-wrap: break-word;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 30%;
    }
    .buttons {
        flex-direction: column;
    }

    button {
        margin: 10px 0;
    }
    .output-message {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .input-area h1 {
        font-size: 1.5em;
    }

    textarea {
        height: 80px;
    }

    button {
        padding: 10px;
        font-size: 0.9em;
    }

    .output-message {
        font-size: 1.2em;
    }
}
